



/* Layout */

body{
    background-color: bisque;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    padding-bottom: 10px;
}

nav a{
    display: inline;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
}

.RootLayout{
    padding: 10px;
    border: 1px black solid;
}

.Outlet{
    padding: 10px;
    border: 1px black solid;
}

/* Page specific */
