



/* Layout */

body{
    background-color: bisque;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

nav a{
    display: inline;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
}

.RootLayout{
    padding: 10px;
    border: 1px black solid;
}

.Outlet{
    padding: 10px;
    border: 1px black solid;
}

/* Page specific */


/* Default View Page */

/* .VideosContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10px;
} */

.VideosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Video{
    display: grid;
    padding-bottom: 10px;
}

.Video img, label{
    display: block;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    text-wrap: balance;
    text-overflow: ellipsis;
}